@import "tailwindcss";

body {
	user-select: none;
	touch-action: none;
	line-height: 1;
	font-size: 14px;

  @apply bg-white dark:bg-zinc-950 text-zinc-950 dark:text-white;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
